
.idea/copilot/chatSessions/00000000000.xd
.idea/copilot/chatSessions/blobs/version
.idea/copilot/chatSessions/xd.lck
.idea/inspectionProfiles/profiles_settings.xml
*.pyc
.idea/
.vscode/
*~
*.DS_Store
